@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Rancho&display=swap");
@import "~bootstrap/scss/bootstrap.scss";

$font-family-base: "Quicksand", sans-serif;
$theme-colors: (
  primary: #7cf6d9,
  secondary: #369c9a,
  danger: #ff4136,
);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  overflow: overlay;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
li,
ul,
p {
  color: #464646;
  font-family: $font-family-base
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.para-1 {
  height: 150px;
  width: auto;
  // margin-bottom: 2rem;
}

#pph-hireme {
  height: 150px;
  padding-top: 0.5rem;
}

// .custom-bg {
//   height: 150px;
//   width: auto;
// }
